b{
	font-family: 'source_sans_prosemibold';
}

.frozen-bar {
	width: 95px;
	position: fixed;
	background: #f3f5ed;
	top: 0px;
	bottom: 0px;
	z-index: 1000;
}

.logo {
	background: #f3f5ed url('../images/logo.png') no-repeat center;
	width: 160px;
	height: 160px;
	box-sizing: border-box;
	border-radius: 50%;
	margin-top: 12px;
	margin-bottom: 15px;
	margin-left: 12px;
}

li {
	list-style: none;
}

#menu {
	text-align: center;
	font-family: 'source_sans_proregular';
	font-size: 14px;
	line-height: 1.1;
}

#menu > li {
	opacity: 0.7;
}

#menu >li > a {
	color: #cb7320;
	display: block;
	padding-top: 8px;
	padding-bottom: 8px;
}

#menu >li:hover {
	background-color: #e7ebd9;
	opacity: 1;
}

#menu > li:hover a {
	color: #cb7320;
	text-decoration: none;
}

.icon-home:before {
	content: "";
	display:block; 
	margin: 0px auto;
	background: url('../images/nav-icons.png') no-repeat 0 0;
	margin-bottom: 5px;
	width: 22px;
	height: 20px;
}

.icon-about:before {
	content: "";
	display:block; 
	margin: 0px auto;
	background: url('../images/nav-icons.png') no-repeat 0 -21px;
	margin-bottom: 5px;
	width: 24px;
	height: 23px;
}

.icon-blog:before {
	content: "";
	display:block; 
	margin: 0px auto;
	background: url('../images/nav-icons.png') no-repeat 0 -45px;
	margin-bottom: 5px;
	width: 24px;
	height: 18px;
}

.icon-services:before {
	content: "";
	display:block; 
	margin: 0px auto;
	background: url('../images/nav-icons.png') no-repeat 0 -64px;
	margin-bottom: 5px;
	width: 25px;
	height: 24px;
}

.icon-partners:before {
	content: "";
	display:block; 
	margin: 0px auto;
	background: url('../images/nav-icons.png') no-repeat 0 -89px;
	margin-bottom: 5px;
	width: 31px;
	height: 20px;
}

.icon-involved:before {
	content: "";
	display:block; 
	margin: 0px auto;
	background: url('../images/nav-icons.png') no-repeat 0 -110px;
	margin-bottom: 5px;
	width: 21px;
	height: 27px;
}

.icon-gear:before {
	content: "";
	display:block; 
	margin: 0px auto;
	background: url('../images/nav-icons.png') no-repeat 0 -138px;
	margin-bottom: 5px;
	width: 34px;
	height: 18px;

}

#menu > li.active {
	background-color: #e7ebd9;
	opacity: 1;
}

#language {
	position: fixed;
	bottom: 15px;
	left: 12px;
}

#language a {
	color: #869a4b;
	opacity: 0.8;
	font-size: 12px;
	text-decoration: none;
}

#language a:hover {
	opacity: 1;
}

#header {
	background: url('../images/header_bg.jpg') no-repeat content-box center;
	background-size: cover;
	position: relative;
	height: 360px;
	padding-left: 95px;
}

#slogan {
	background-color: rgba(255,255,255,0.8);
	position: absolute;
	width: 50%;
	height: 360px;
	right: 0;
}

/* #mmm {
	display: table;
	width: 100%;
}*/



#slogan h1 {
	position: relative;
	display: block;
	color: #778c38;
	font-family: 'source_sans_proextralight';
	line-height: 1.1;
	font-size: 2.6em;
	margin: 0 auto;
	width: 370px;
	height: 80px;
	margin-top: 130px;
	opacity: 1.0;
	filter: alpha(opacity=100);
	/*display: table-cell;
	vertical-align: middle;*/
}

